/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5rem;
}

header .container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

header {
  width: 100%;
  height: 63px;
  /* background: #ccc; */
  margin: 0 auto;
  position: relative;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0,0,0,0.25);
}
header h1 {
  position: absolute;
  left: 0px;
  top: 15px;
  font-size: 20px;
}

header nav {
  position: absolute;
  right: 0px;
  top: 22px;
}

/* 1단계 메뉴 */
header nav > ul > li {
  float: left;
  /* outline: 1px solid red; */
  width: 8em;
  text-align: center;
  background: #fff;
  font-weight: 400;
}

header nav > ul > li a {
  color: #444;
}
header nav > ul > li > a:hover {
  color: rgb(12, 65, 154);
}

/* 2단계 메뉴 */
header nav .depth2 {
  margin-top: 10px;
  display: none;
}

header nav .depth2 > li > a {
  display: block;
  padding: 10px;
}
header nav .depth2 > li > a:hover {
  background: #444;
  color: #fff;
}


/* 메인 비주얼 */
.swiper-container{
  position: relative;
  min-width: 1200px;
  margin-left: 350px;
}

/* 메인 콘텐츠 영역 */
#main {
  width: 1200px;
  padding-bottom: 60px;
  margin: 0 auto;
}

#main .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main .col {
  flex: 1;
  margin-top: 20px;
  background: #fff;
  text-align: center;
  border : 1px solid #c9c9c9;
  padding: 10px;
}

#main .col img{
  width: 100%;
}

#main .col .text h4 {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 400;
}

#main .col .text p{
  font-size: 15px;
  margin-bottom: 1em;
  letter-spacing: -1.5px;
  font-weight: 300;
}

#main .col .btn {
    width: 100px;
    border: 1px solid transparent;
    background  : #191a1a;
    padding: 5px;
    margin-left: 140px;
  }

  #main .col .btn  a{
    color : #fff;
  }

footer {
  position: relative;
  text-align: center;
  font-size: 12px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight:300;
  background-color: #8f8f91;
  color : #fff;
};

footer .container{
  height: auto;
}

.footerMenu li {
  display: inline-block;
}

.footerMenu > li > a {
  color: #fff;
}
footer .footerMenu span,  
footer .address span {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 10px;
  display: inline-block;
  transform: translateY(-2px); 
}

footer .address {
  margin-bottom: 5px;
}