/*sub page*/

h2 {
  font-size: 24px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 26px;
}

#main aside {
 width: 250px;
 float: left;
 margin-right: auto;
}

#main article {
  width: 900px;
}
  
 /* 사이드바 영역 */
 #main article .breadCrumb{
  /* background: #ccc; */
  text-align: right;
  font-size: 12px;
  margin-bottom: -2rem;
  color: #0D2237;
}
 #main aside h2 {
  text-align: center;
  background: #0D2237;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  font-size: 27px;
  font-weight: 400;
}

#main aside .subMenu > li {
  background: #d7d7d7;
}

#main aside .subMenu > li > a {
  transition: 0.4s;
  color: #0D2237;
  background: #fff;
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 300;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  text-align: center;
}
#main aside .subMenu > li:hover > a {
  background: #939a9e; 
  color: #fff;
}
#main aside .subMenu > li.active > a {
  background: #939a9e; 
  color: #fff;
  border: 1px solid #fff;
}


/* article 영역 */
#main article .breadCrumb{
text-align: right;
font-size: 12px;
}

article h3 {
color: #0D2237;
border-bottom: 1px solid #707070;
font-size: 27px;
}

article p {
line-height: 28px;
color: #0D2237;
font-size: 15px;
font-weight: 300;
}

/*sub1_1*/
#sub1_1 #main aside {
margin-bottom: 460px;
}
#sub1_1 article .breadCrumb{
  margin-top: 30px;
}
#sub1_1 article h3{
margin-top: 5px;
border-bottom: 1px solid #707070;
}

#sub1_1 article h4 {
margin-top: 50px;
line-height: 1.5em;
font-size: 35px;
font-weight: 400;
}

#sub1_1 article p:last-child {
margin-bottom: 0;
}

#sub1_1 article .textLayout .text {
position: relative ;
margin-right: auto;
}

#sub1_1 article .textLayout img {
position: absolute;
top: 20%;
left:65%;
width: 312px;
}

#sub1_1 article .bottomTextLayout {
display: flex;
padding: 40px 5px;
}
#sub1_1 article .bottomTextLayout img {
width: 300px;
}
#sub1_1 article .bottomTextLayout .text2 {
margin-left: 20px;
}

#sub1_1 article .textLayout p{
padding-top: 24.6px;
}

/*sub2_1*/
#sub2_1 #main aside {
margin-bottom: 1000px;
}
#sub2_1 #main article .breadCrumb{
margin-top: -2rem;
}

#sub2_1 article h3{
  margin-top: 30px;
}
#sub2_1 #main article .textLayout p{
margin-top: 55px;
font-size: 20px;
}

#sub2_1 .imageLayout .wrap{
display: flex;
justify-self: center;
align-content: center;
float:left;
}

#sub2_1 .imageLayout .contents {
width: 100%;
padding-left:24px;
padding-bottom: 11px;
}

#sub2_1 .imageLayout .contents p{
 font-size: 15px;
 line-height: 21px;
 padding-top: 3px;
 font-weight: 300;
}

#sub2_1 .imageLayout .contents h5{
font-size: 20px;
padding-top: 6px;
}

/*sub 3_1*/
#sub3_1 article h3{
padding-bottom: 10px;
}

#sub3_1 #main aside{
margin-bottom: 400px;
}

#sub3_1 #main article .breadCrumb{
margin-top: -2rem;
}

#sub3_1 article .location{
margin-top: 28.6px;
margin-bottom: 20px;
}

#sub3_1 article .location ul {
display: flex;
flex-wrap: wrap;
margin-bottom:50px;
}

#sub3_1 article .location ul li{
width: 50%;
margin-top: 3em;
}

#sub3_1 article iframe{
  width:100%;
  margin-bottom: 60px;
}
